@using Microsoft.AspNetCore.Mvc.Rendering;
@model ImageViewModel

@{
    ViewData["Title"] = "Add New Image";
}

<div class="mainWrapper">
    <div class="header">
        <h1>Add New Photo</h1>
    </div>
    <div class="form-container">
        @using (Html.BeginForm("AddImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="alert-danger" role="alert">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class="text-danger" })
                @TempData["Error"]
            </div>
            <div class="inputs">
                <div class="row mb-4">
                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.Name, new { @class = "required" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class="text-danger" })
                    </div>
                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.ShortDescription, new { @class="required" })
                        @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class="text-danger" })
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="form-group col-12">
                        @Html.LabelFor(model => model.LongDescription, new { @class="required" })
                        @Html.TextAreaFor(model => model.LongDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class="text-danger" })
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.Album, new { @class="required" })
                        @Html.DropDownListFor(model => model.AlbumId, new SelectList(ViewBag.Albums,"Value", "Text"),"Select Album", new { @class = "form-control custom-select mr-sm-2"})
                        @Html.ValidationMessageFor(model => model.AlbumId, "", new { @class="text-danger" })
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.ImageUrl, new { @class="required" })
                        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control", type="file"})
                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class="text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <div class="buttons">
                            <input type="submit" value="Add" class="btn btn-primary btn-lg" /> |
                            @Html.ActionLink("Cancel", "Index", "Image", "", new { @class="btn btn-danger btn-lg" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>