@model Image

@{
    ViewData["Title"] = "Image Details";
}

<div>
    <div class="header">
        <h1>Details for @Model.Name</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="details">
                <dl class="row mb-5">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ShortDescription)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.LongDescription)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.LongDescription)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Album.Name)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Album.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.UploadDate)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.UploadDate)
                    </dd>
                </dl>
                <div>
                    @Html.ActionLink("Edit", "EditImage", "Image", new { id = Model.ImageId }, new { @class="btn btn-primary" }) |
                    @Html.ActionLink("Back to Photos", "Index", "Image", "", new { @class="btn btn-secondary" })
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="photo">
                <img src="@Model.ImageUrl" alt="@Model.ShortDescription" width="500" height="500" />
            </div>
        </div>
    </div>
</div>

