@model FormMessage

@{
    ViewData["Title"] = "Delete Message";
}

<div>
    <div class="header">
        <h1>Are you sure you want to delete this message?</h1>
    </div>
    <div class="detailsView">
        <div class="details">
            <dl class="row mb-5">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DateOfMessage)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DateOfMessage)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Subject)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subject)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Body)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Body)
                </dd>
            </dl>
            <div class="offset-5">
                <form asp-action="DeleteMessage" asp-controller="FormMessage">
                    <input type="hidden" asp-for="FormMessageId" />
                    <input type="submit" value="Yes" class="btn btn-danger" /> |
                    @Html.ActionLink("Cancel", "MessageDetails", "FormMessage", new { id = Model.FormMessageId }, new { @class = "btn btn-secondary" })
                </form>
            </div>
        </div>
    </div>
</div>