@model Category

@{
    ViewData["Title"] = "Category Details";
}

<div>
    <div class="header">
        <h1>Details for @Model.CategoryName</h1>
    </div>
    <div class="details">
        <dl class="row mb-5">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LongDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(model => model.Albums)
            </dt>
            @if (Model.Albums == null)
            {
                    <dd class="col-sm-10">There is not albums yet!</dd>
            }
            else
            {
                foreach (var album in Model.Albums)
                {
                    <dd class="col-sm-10">@album.Name</dd>
                }
            }
        </dl>
        <div>
            @Html.ActionLink("Edit", "EditAlbum", "Album", new { id = Model.CategoryId }, new { @class="btn btn-primary" }) |
            @Html.ActionLink("Back to Albums", "Index", "Album", new { id = Model.CategoryId }, new { @class="btn btn-secondary" })
        </div>
    </div>
</div>
