@model Category

@{
    ViewData["Title"] = "DeleteCategory";
}

<div>
    <div class="header">
        <h1>Details for @Model.CategoryName</h1>
    </div>
    <div class="detailsView">
        <div class="details">
            <dl class="row mb-5">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CategoryName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LongDescription)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LongDescription)
                </dd>
            </dl>
            <div class="btns">
                <form asp-action="DeleteCategory" asp-controller="Category">
                    <input type="hidden" asp-for="CategoryId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Got to List", "Index", "Category", "", new { @class="btn btn-secondary"})
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="photo">
                <h2 class="mb-3">Albums</h2>

                @if (Model.Albums == null)
                {
                    <div class="alert alert-warning" role="alert">
                        <h3>There is not albums yet!</h3>
                    </div>
                }
                else
                {
                    foreach (var album in Model.Albums)
                    {
                        <ul>
                            <li class="fs-5">@album.Name</li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</div>
