@model IEnumerable<Carousel>

@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["success"] != null)
{
    <div class="alert-success" role="alert">
        @TempData["success"]
    </div>
}

@if(Model.Count() <= 0)
{
    <div class="hero-image">
      <div class="hero-text">
        <h1>Welcome to My Website</h1>
        <p>And I'm a Photographer</p>
        @Html.ActionLink("See my Albums", "Index", "Album", "", new { @class="btn btn-primary" })
      </div>
    </div>
}
else
{
    <div id="carouselCaptions" class="carousel carousel-fade slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (int i = 0; i < Model.Count(); i++)
            {
                string active = "active";
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="@i" class="@active" aria-current="true" aria-label="Slide @i"></button>
            }
        </div>

        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                string active = "";

                if (item.ImageName == Model.First().ImageName)
                {
                    active = "active";
                }
                <div class="carousel-item @active">
                    <img src="@item.ImageUrl" class="d-block w-100 photo" alt="@item.ImageName">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="imageHeader">@item.ImageName</h5>
                        <p>@item.ShortDescription</p>
                    </div>
                </div>            
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

}
