@using CMSWebsite.Helpers;
@inject SignInManager<ApplicationUser> _signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JeanneBaerPhotographs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/forms.css" rel="stylesheet" />
    <link href="~/css/admingeneral.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>        
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="name text-white mb-3 pt-2 pb-2 ">
                        <i class="bi bi-person mr-3"></i>Hi, @User.Identity.Name
                    </div>
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-4 pt-2 text-white min-vh-100">
                        <div class="align-items-center pb-0 text-white text-decoration-none menuHeader mb-3">                                
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fs-2 d-inline-block">Menu</span>
                            </button>
                        </div>                        
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="nav mb-sm-auto mb-0 mt-3" id="menu" role="tablist">
                                <li class="nav-item @Html.IsActive("Dashboard", "Index")">
                                    @Html.ActionLink("Dashboard", "Index", "Dashboard", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Category", "Index") @Html.IsActive("Category", "AddCategory") 
                                @Html.IsActive("Category", "CategoryDetails") @Html.IsActive("Category", "EditCategory") @Html.IsActive("Category", "DeleteCategory")">
                                    @Html.ActionLink("Categories", "Index", "Category", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Album", "Index") @Html.IsActive("Album", "AddAlbum")
                                @Html.IsActive("Album", "AlbumDetails") @Html.IsActive("Album", "EditAlbum") @Html.IsActive("Album", "DeleteAlbum")">
                                    @Html.ActionLink("Albums", "Index", "Album", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Image", "Index") @Html.IsActive("Image", "AddImage")
                                @Html.IsActive("Image", "ImageDetails") @Html.IsActive("Image", "EditImage") @Html.IsActive("Image", "DeleteImage")">
                                    @Html.ActionLink("Photos", "Index", "Image", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Event", "Index") @Html.IsActive("Event", "AddEvent")
                                @Html.IsActive("Event", "EventDetails") @Html.IsActive("Event", "EditEvent") @Html.IsActive("Event", "DeleteEvent")">
                                    @Html.ActionLink("Events", "Index", "Event", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Registration", "Index") @Html.IsActive("Registration", "EventDetails") @Html.IsActive("Registration", "DeleteEventRegistered")">
                                    @Html.ActionLink("Event Resgistrations", "Index", "Registration", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Carousel", "Index") @Html.IsActive("Carousel", "AddCarousel")
                                @Html.IsActive("Carousel", "CarouselDetails") @Html.IsActive("Carousel", "EditCarousel") @Html.IsActive("Carousel", "DeleteCarousel")">
                                    @Html.ActionLink("Carousel", "Index", "Carousel", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("FormMessage", "Index") @Html.IsActive("FormMessage", "FormMessageDetails") 
                                @Html.IsActive("FormMessage", "DeleteFormMessage")"> 
                                    @Html.ActionLink("Messages", "Index", "FormMessage", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Administrator", "GetRoles") @Html.IsActive("Administrator", "AddRole")
                                @Html.IsActive("Administrator", "EditRole") @Html.IsActive("Administrator", "AddUserToRole") @Html.IsActive("Administrator", "DeleteRole")">
                                    @Html.ActionLink("Roles", "GetRoles", "Administrator", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item @Html.IsActive("Administrator", "ListUsers")">
                                    @Html.ActionLink("Users", "ListUsers", "Administrator", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Go to Website", "Index", "Home", "", new { @class="nav-link fs-5 ms-0 d-inline-block" })
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div class="col content">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                        <div class="container-fluid ml-4 mr-4">
                            @Html.ActionLink("JeanneBaerPhotographs", "Index", "Dashboard", "", new { @class="navbar-brand" })
                            <ul class="navbar-nav ml-auto">
                                @if (_signInManager.IsSignedIn(User))
                                {
                                    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                                    {
                                        <li class="nav-item">
                                            <button type="submit" class="nav-link btn btn-link text-dark" style="width: auto;">
                                             Logout
                                            </button>
                                        </li>
                                    }
                                }                      
                            </ul>
                        </div>
                    </nav>
                    @RenderBody()
                </div>
            </div>       
        </div>   
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
    <script src="~/js/masks.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
