@model Album

@{
    ViewData["Title"] = "Album Details";
}

<div>
    <div class="header">
        <h1>Details for @Model.Name</h1>
    </div>
    <div class="detailsView">
        <div class="details">
            <dl class="row mb-5">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LongDescription)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LongDescription)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
            </dl>
            <div class="justify-content-center">
                <div>
                    @Html.ActionLink("Edit", "EditAlbum", "Album", new { id = Model.AlbumId }, new { @class="btn btn-primary" }) |
                    @Html.ActionLink("Back to Albums", "Index", "Album", new { id = Model.AlbumId }, new { @class="btn btn-secondary" })
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="photo">
                <img src="@Model.AlbumImageUrl" alt="@Model.ShortDescription" width="500" height="500" />
            </div>
        </div>
    </div>    
</div>

