@model Album

@{
    ViewData["Title"] = "Album Details";
}

<div>
    <div class="header">
        <h1>Details for @Model.Name</h1>
    </div>
    <div class="details">       
        <dl class="row mb-5">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LongDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
        </dl>
        <div>
            @Html.ActionLink("Edit", "EditAlbum", "Album", new { id = Model.AlbumId }, new { @class="btn btn-primary" }) |
            @Html.ActionLink("Back to Albums", "Index", "Album", new { id = Model.AlbumId }, new { @class="btn btn-secondary" })
        </div>
    </div>    
</div>

